<div class="col-xs-12 table-responsive">
  <p *ngIf="!items || items.length == 0">Não á itens no seu carrinho.<br>Que tal começar por <a [routerLink]="['/restaurants']">aqui</a></p>
  <table *ngIf="items && items.length > 0" class="table table-striped">
    <thead>
    <tr>
      <th class="text-center">Quantidade</th>
      <th>Item</th>
      <th>Descrição</th>
      <th class="text-right">Valor</th>
      <th class="text-right">Subtotal</th>
      <th class="text-right"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <td class="text-center">
        <a (click)="emitDecreseQty(item)" class="btn btn-sm"><i class="fa fa-minus"></i></a>
        {{item.quantity}}
        <a (click)="emitIncreseQty(item)" class="btn btn-sm"><i class="fa fa-plus"></i></a>
      </td>
      <td>{{item.menuItem.name}}</td>

      <td>{{item.menuItem.description}}</td>
      <td class="text-right">{{item.menuItem.price | currency:'BRL':true}}</td>
      <td class="text-right">{{item.value() | currency:'BRL':true}}</td>
      <td class="text-right">
        <a (click)="emitRemove(item)" class="btn btn-sm danger"><i class="fa fa-remove"></i></a>
      </td>

    </tbody>
  </table>
</div>
